// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* 🎨 Theme */
@theme {
  --color-brand-primary: #FD3177;
  --color-brand-primary-hover: #e12b68;
  --color-bg-light: #f9fafb;
  --color-bg-dark: #111827;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-select-tailwind .ng-select-container {
  @apply bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg;
}

.ng-select-tailwind .ng-dropdown-panel {
  @apply bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200;
}

.ng-select-tailwind .ng-option:hover {
  @apply bg-gray-100 dark:bg-gray-700;
}

////////////////
.ng-select-right-icon {
  position: absolute;
  right: 2.25rem;
  /* sits next to arrow */
  // 0.7rem to replace arrow
  // 2.25 to be next to arrow
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: 0.7;
  pointer-events: none;
}